/* body {
    color: rgb(130, 238, 130);
} */

/* selector a partir de una etiqueta */
h2 {
    color: blue;
}

/* Selector a partir de una clase */
.texto-verde {
    color: green;
}


footer {
    color: pink;
}

/* Selector a partir de un id */
#parrafo-rosa {
    color: blueviolet;
    font-size: 30px;
}

/* Selector a partir de etiquetas combinadas */
header p {
    color: aqua;
}
